.scene {
  width: 100vw;
  height: 100%;
  opacity: 1;
  /* animation-name: fadeInOpacity; */
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  position: absolute;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu {
  position: absolute;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  /* background-color: pink; */
  bottom: 0;
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
  flex-wrap: wrap;
}

.menuContainer {
  display: flex;
  justify-content: center;
}

.menuLeftContents {
  /* position: absolute; */
  bottom: 8px;
  /* padding: 30px; */
  width: 205px;
  z-index: 2;
  /* background-color: red; */
}

.menuLeftContentsLogo {
  width: 100%;
  /* background-color: greenyellow; */
}

.menuLeftContentsInfo {
  /* background-color: blueviolet; */
  margin-top: 10px;
}

.menuRightContentsInfoText,
.menuLeftContentsInfoText,
.menuRightNavText {
  margin: 0;
  /* color: #d4d0be; */
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

.menuCenterContents {
  position: absolute;
  bottom: 0px;
  padding: 30px;
  /* width: 50%; */
  /* right: 0px; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.menuCenterContentsButtons {
  display: flex;
}

.button {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  margin: 3.5px;
  border: 1px #d4d0be solid;
  background-size: cover;
}

.menuCenterContentsRandomButton {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #3961ff00;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 12px;
  color: #d4d0be;
  line-height: 20px;
  text-decoration: none;
  border: 1px #d4d0be solid;
  border-radius: 25px;
  margin-bottom: 6px;
}

.menuRightNav {
  display: flex;
  margin-bottom: 15px;
  gap: 20px;
}

.menuRightNavWork {
  /* margin-right: 20px; */
}

@media only screen and (max-width: 768px) {
  .menuCenterContents {
    /* justify-content: end; */
    top: 0px;
    position: absolute;
    bottom: auto;
    padding: 15px;

    /* left: auto; */
    /* right: auto; */
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .menu {
    padding: 15px;
    /* display: block; */
    /* position: absolute; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* height: 100vh; */
    /* flex-direction: column-reverse; */
  }

  .menuLeftContents {
    /* justify-content: start; */
    width: 140px;
    /* position: absolute; */
  }

  .menuLeftContentsInfoText,
  .menuRightNavText,
  .menuRightContentsInfoText,
  .menuCenterContentsRandomButton {
    font-size: 11px;
  }

  .menuCenterContents {
    /* justify-content: end; */
    top: 0px;
    position: absolute;
    bottom: auto;
    /* padding: 15px; */
    /* left: auto; */
    /* right: auto; */
    width: 100%;
  }
}
