.work {
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  background-color: #e9e7e5;
}

.myswiper {
  /* background-color: palevioletred; */
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 4s;
}

.swiperslide {
  /* background-color: seagreen; */
  padding-left: 20px;
  padding-right: 20px;
}

.reactplayerWrapper {
  padding-top: calc(295 / 465.65 * 100%);
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.reactplayer {
  /* background-color: yellow; */
  pointer-events: none;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
}

.reactplayer iframe {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.workCard {
  /* background-color: paleturquoise; */
  text-decoration: none;
}

.workCardText {
  margin: 0;
  color: #a09f3b;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

.workCardTextFadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

.workCardTextFadeOut {
  opacity: 0;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.workCardLink:hover {
  opacity: 1;
}

@media only screen and (max-width: 1224px) {
  .workCardTextFadeOut {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
  }
}

@media only screen and (max-width: 479px) {
  .work {
    padding-left: 15px;
    /* padding-top: 120px; */
    /* height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    padding-bottom: 110px; */
  }

  .myswiper {
    height: 100%;
    /* width: 80%; */
    /* overflow: visible !important; */
    /* margin-bottom: 110px; */
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 4s;
  }

  .swiperslide {
    /* height: auto;
    align-self: stretch; */
    padding: 0px;
  }

  .swiperslide:last-child {
    /* background-color: seagreen; */
    /* margin-bottom: 100px; */
  }
}
